body {
	background-color: green;
}

p{
	font-weight: bold;
	font-family: arial;

}

#main{

	padding-bottom:25px;
	padding-right:25px;
	padding-left:50px;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#links{
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border:2px solid;
	border-radius:25px;
	background-color: white;	
}

div {
	border-style: double;
	border-color: red;
	border-width: 5px;
}

h2 {
	font-family: arial;
	color: red;
}

img {
	width: 200px;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
}